<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">
  <variable name="logRoot" value="${basedir}/../../../../../../../runtime/logs" />

  <targets>
    <target xsi:type="File"
            name="appFile"
            fileName="${var:logRoot}/pdf-editor-worker-${shortdate}.log"
            createDirs="true"
            keepFileOpen="false"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message}|action=${event-properties:item=ACTION}|result=${event-properties:item=RESULT}|updatedBy=${event-properties:item=UPDATED_BY}|class=${event-properties:item=CLASS}|method=${event-properties:item=METHOD}|description=${event-properties:item=DESCRIPTION}|exception=${exception:format=tostring}" />
    <target xsi:type="ColoredConsole"
            name="console"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message}|action=${event-properties:item=ACTION}|result=${event-properties:item=RESULT}|updatedBy=${event-properties:item=UPDATED_BY}|description=${event-properties:item=DESCRIPTION}|exception=${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="appFile,console" />
  </rules>
</nlog>
